@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

div.container p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
div.container h1.tt{
    background: rgba(47, 105, 214, 0.733);
    padding: 4px 4px 6px 10px;
    border-radius: 3px;
}
/* div.container h1.tt:hover{ } */
h2,h3,h4,h5,h6 {
    padding-left: 4px;
}
h2:hover, h3:hover, h4:hover, h5:hover, h6 :hover {
    border-left: 5px solid rgba(47, 105, 214, 0.733);
    transition: .226s;
}