@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

div.container p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
div.container h1.tt span{
    color: white;
}
div.container h1.tt:hover{
    color: rgba(0, 0, 255, 0.61);
    transition: .31s;
}