<div style="margin-left:27%">

    <!-- <img src="img_car.jpg" alt="Car" style="width:100%"> -->
    
    <div class="container" style="margin-top:4%">
      <h1>{{firstName}} {{lastName}}</h1><br/>
      <h3>Hey bro! Some about me below</h3>
      <ul>
        <li><p>I'm <b>{{about.age}}yo</b></p></li>
        <li><p>I've <b>{{about.height}}m</b> and <b>{{about.weight}}kg</b></p></li>
        <li><p>My sex is <b>{{about.sex}}</b>, how u can deduce</p></li>
      </ul>
      <p>
        And I like to practice sports, play games and sooome other things. My favorite hero is <a href="https://pt.wikipedia.org/wiki/Iron_Man">Iron Man</a> 
        because I like the way the he uses the tecnology in his favour and obviously, his playboy style.
      </p>
      <p>
        And that's it folks, see you soon as possible! <b>:*</b>
      </p>
    </div>
    
</div>