<div style="margin-left:27%">

    <!-- <img src="img_car.jpg" alt="Car" style="width:100%"> -->
    
    <div class="container" style="margin-top:8%">
      <h1 class="tt">{{firstName}} {{lastName}}</h1><br/>
      <h3>Hey bro! Some about me below</h3>
      <ul>
        <li><p>I'm <b>{{about.age}}yo</b></p></li>
        <li><p>I've <b>{{about.height}}m</b> and <b>{{about.weight}}kg</b></p></li>
        <li><p>My sex is <b>{{about.sex}}</b>, how u can deduce</p></li>
      </ul>
      <p>
        And I like to practice sports, play games and sooome other things. My favorite hero is <a href="https://pt.wikipedia.org/wiki/Iron_Man">Iron Man</a> 
        because I like the way the he uses the tecnology in his favour and obviously, his playboy style.
      </p>
      <p>
        And that's it folks, see you soon as possible! <b>:*</b>
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
        in culpa qui officia deserunt mollit anim id est laborum.
      </p><br/>
      <div class="row" style="margin: 0px 0px 20px 13.2%;">
        <div class="col-sm">
          <hw-card></hw-card>
        </div>
        <div class="col-sm">
          <hw-card></hw-card>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
        in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
        in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    
</div>